<a data-confirm="Are you sure?" rel="nofollow" data-remote="true" data-method="delete" href="<%= flashcard_path(fl) %>" class="delete-link" data-toggle="tooltip" data-placement="bottom" title="Delete" data-card-id="<%= 'card_' + fl.id.to_s %>">
 	<span class="glyphicon glyphicon-remove-circle delete-link" aria-hidden="true">
</a>