<h1>Find and Generate Stacks</h1>
<!-- TODO: Instead of tab-like interface, start off by listing all the stacks ordered 
alpahbetially by name and give the user the option of filtering stacks by type or name. -->
<div>
	<div class="container">
	<form class="filter-and-generate-stacks" role="search">
		<div class="row">
			<div class="col-xs-6">
			</div>
			<div class="col-xs-2">
				<p><input type="checkbox" name="by_tags" />Tags</p>
			</div>
			<div class='col-xs-2'>
				<p><input type="checkbox" name="by_langs" />Language Pair</p>
			</div>
			<div class="col-xs-2">
				<p><input type="checkbox" name="by_tags" />Creation Batch</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
		    	<div class="input-group">
					<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
					<div class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>