<h1><%= @stack_title %></h2>

<div class="study-stack-container container">
		<h4>Number of flashcards studied in stack</h4>

	<div class="progress">
  		<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: <%= (1.to_f/@flashcards.size.to_f)*100 %>% ;">
    		1
 		 </div>
	</div>

	<div class="container">
		<div class="left-control">
			<span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
		</div>

		<div class="inner-study-stack-container">
			<%= render partial: "stacks/flashcard_list", locals: { flashcards: @flashcards, langs: @langs, cc: @col_class }%> 
		</div>

		<div class="right-control">
			<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
		</div>
	</div>
</div>
