<h1>Edit User Defined Tag <%= @tag.name.capitalize %></h1>
<%= render partial: 'home/flash' %> 
<%= render partial: "input_form", locals: { tag: @tag, form_path: '/user_defined_tags/' + @tag.id.to_s, form_method: 'patch', submit_label: "Edit!"  }%> 
