<h1>Create New Tag</h1>
<%= render partial: 'home/flash' %> 
<%= render partial: "input_form", locals: { tag: @tag, form_path: "/user_defined_tags", form_method: "post", submit_label: "Create!"  }%> 
