<h2>Credits</h2>
<p>Giving credit where credit is due and  providing other developers (and myself) with helpful resources.</p>
<ul>
    <li><a href="">Yandex Dictionary and Tranlate APIs</a> for free translation and determining part of speech and gender tags</li>
    <li><a href="">Pixabay API</a> for free image search</li>
	<li><a href="http://www.rubyonrails.org">Ruby on Rails</a> for rapid development</li>
	<li><a href="">Paperclip</a> to handle file uploads and storage</li>
	<li><a href="http://www.color-hex.com">Color Hex</a> for help choosing colors and color hex codes</li>
	<li><a href="http://bootsnipp.com/snippets/featured/expanding-search-button-in-css">Bootstrap Snippet</a> for search form code</li>
	<li><a href="">Devise</a> for user authentication and session management</li>
	<li><a href="">ActiveModel</a> for implementing Rails classes that have certain model functionality, like validation, without having to implement a corresponding table in the database.</li>
	<li><a href="https://css-tricks.com/jquery-coffeescript/">This article on CSS tricks</a> for help converting JQuery to Coffeescript</li>
	<li><a href="">Freepik</a> for free candy icon</li>
	<li><a href="">Canter font</a> is used in the logo</li>
	<li><a href="">Google fonts</a> for the font Josefin Sans, which the headings, navigation links, footer, flashcards, and splash message on front page use.</li>
	<li><a href="">Bootstrap</a> for the glyphicons and grid system used to display the flashcards, and rapid theming.</li>
</ul>