// Place all the styles related to the Stacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$single_stack_width: 30%;

.clearer{
	clear: both; 
}

.stack-info{
	margin-left: -42px; 
	margin-bottom: 20px !important; 

	li{
		display: inline-block; 
		&:not(:last-of-type){
			border-right: 1px solid #a0a0a0; 
			padding-right: 10px; 
		}

		&:not(:first-of-type){
			padding-left: 10px; 
		}

		b{
			color: #00aaa8 !important; 
		}
	}
}

input[type='checkbox']{
	margin-right: 10px !important; 
}

.filter-and-generate{

	input[type='text']{
		width: 100% !important; 
		margin: 0 !important; 
	}
}

.filter-label{
	float: right;
}

label:not(.filter-label){
	margin-top: -10px; 
	font-weight: normal; 
}

table{

	width: 100%;
	border: 1px solid #bcbcbc;

	th, td{
		padding-top: 10px !important;
		padding-right: 25px !important;
		padding-left: 10px !important; 
		padding-bottom: 10px !important; 
	}

	th{
		background-color: #dbdbdb;	
		font-family: 'Josefin Sans', sans-serif !important; 
	}

	tr{
		&:nth-of-type(even){
			background-color: #ECECEC; 
	    }
	    &:nth-of-type(odd){
	    	background-color: #f4f4f4;
	    }
	}

	margin-top: 15px !important; 
	
	.delete-link, .glyphicon {
		color: #666666 !important; 
		&:link, &:visited{
			color: #666666 !important; 
		}
		&:hover{
			color: #FF10CF !important; 
		}
	}

	.glyphicon-chevron-down{
		margin-left: 5px; 
	}
}

.side-button{
	margin-top: 10px !important; 
}